[Unit]
Description=Unlock KWallet automatically using TPM credentials
After=dbus.socket
# Before=graphical-session.target
Before=graphical-session-pre.target
Before=plasma-workspace.target

[Service]
Type=oneshot
# %h means home directory
WorkingDirectory=%h/autokdewallet
# LoadCredentialEncrypted=password:%h/autokdewallet/password.cred
# make sure dbus is already running
ExecStartPre=/usr/bin/sleep 0.15
ExecStart=/usr/bin/python %h/autokdewallet/unlock.py
Restart=on-failure
RestartSec=2

[Install]
# start after graphical session
WantedBy=graphical-session-pre.target
